/* General Styling for Form */
/* Initially hide the form and dark overlay */

.whatwedo_tab_content{
    animation: fadeInUp 1s ease-out;

}
.formwrapppermain {
    display: none;
    z-index: 1200;
    position: fixed;
}

.dark-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.contact-form textarea {

    width: 100%;
}

.contact-form input {
    background-color: #27272c;
    color: #fff;
    /* Ensure text is visible on dark background */
}

.contact-form input {
    border-bottom: 1px solid black;
}
.form-wrapper {
    z-index: 10; /* Daha gerçekçi bir z-index */
    background-color: #27272c;
    width: 100%;
    max-width: 800px;
    padding: 40px;
    box-sizing: border-box; /* padding'in width'e dahil olmasını sağlar */
    margin: 0 auto; /* Merkezleme sağlar */
}

/* Tablet ve küçük ekranlar için optimizasyon */
@media (max-width: 768px) {
    .form-wrapper {
        padding: 20px;
        max-width: 90%;
    }
}

/* Mobil cihazlar için optimizasyon */
@media (max-width: 480px) {
    .form-wrapper {
        padding: 15px 10px;
        max-width: 95%;
    }
}

.subtitle {
    text-align: center;
    color: #bbb;
    /* Lighter color for subtitle */
    font-size: 16px;
    margin-bottom: 30px;
}

.contact-form {
    padding: 0;
    width: 100%;
    margin-top: 24px;
    /* Kaydırma zorunlu */
    scrollbar-width: thin;
    max-height: calc(70vh - 80px);
    /* Ekran yüksekliğine bağlı sınır */
}


.form-column1 {
    margin-bottom: 30px;
    line-height: 1.5;
    /* Satır yüksekliği */
    font-size: 14px;
    /* Yazı tipi boyutu */
    box-sizing: border-box;
    /* Padding ve border dahil toplam boyut */
    min-width: 700px;
    /* Ebeveyn konteynerinin tamamını kapla */

}

.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.form-column {
    min-width: 320px;
}

.form-label {
    display: block;
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 5px;
    padding-left: 10px;
}

.form-input,
.form-textarea {
    color: white;
    width: 100%;
    padding: 12px;
    background-color: #27272c;
}

.form-column input::placeholder {
    color: rgb(200, 200, 200);
}

.form-textarea {
    resize: none;
}

.submit-button {
    appearance: none;
    background-color: #02a783;
    border: 1px solid;
    border-color: #02a783;
    border-radius: 22.5px;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: .75rem;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0;
    padding: 4px 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;

}

.submit-button:hover {
    background: linear-gradient(135deg, #02a783, #007a5f);
}

@media (max-width: 768px) {
    /* Kapatma butonu mobilde daha aşağıda dursun */
    .btn-close-form {
      position: absolute;
      top: 20px;
      right: 15px;
      z-index: 10;
    }
  
    /* Form içeriği padding ayarı */
    .bg-light {
      padding: 20px !important;
    }
  
    h1 {
      font-size: 1.5rem;
    }
  
    label {
      font-size: 0.95rem;
    }
  
    .form-control,
    textarea {
      font-size: 0.95rem;
    }
  
    /* Gerekirse alanlar dikey hizalanabilir, ancak Bootstrap zaten bunu yapıyor */
  }
  
@media (max-width: 540px) {


    .title {
        font-size: 20px;
    }

    .subtitle {
        font-size: 12px;
    }

    .form-row {
        flex-direction: column;
        gap: 15px;
    }

    .form-column {
        min-width: 100%;
    }

    .form-label {
        font-size: 12px;
    }

    .form-input,
    .form-textarea {
        padding: 10px;
    }

    .submit-button {
        padding: 10px;
        font-size: 14px;
    }
}



.cta-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    white-space: nowrap;
    transition: opacity 0.3s ease;
}

.cta-btn__text {
    transition: opacity 0.3s ease;
}

.cta-btn__icon {
    opacity: 0;
    visibility: hidden;
    margin-left: 8px;
    height: 30px;
    transform: translatex(-140px);
    /* Başlangıçta sola kaydır */
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s;
}



.custom-product-expert-cta-fixed:hover .cta-btn__text {
    opacity: 0;
}

.custom-product-expert-cta-fixed:hover .cta-btn__icon {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear;
}



/* Kapanma butonu */
.close-form {
    position: absolute;
    top: 20px; /* Formun üstüne yakın, daha kullanışlı */
    right: 20px; /* Sağ kenardan mesafe daha uygun */
    background-color: transparent;
    border: none;
    font-size: 24px; /* Daha belirgin ikon/buton için */
    cursor: pointer;
    color: white;
    z-index: 1000; /* Form içindeki en üst öğe olması için */
    padding: 5px; /* Tıklanabilir alan artar */
}

/* Mobil ekranlar için ayar */
@media (max-width: 768px) {
    .close-form {
        top: 45px;
        right: 15px;
        font-size: 22px;
    }
}


.close-form i {
    font-size: 20px;
    /* Icon boyutu */
}

/* Kapanma butonuna hover efekti */
.close-form:hover {
    color: #f9f9f9;
    /* Yazı rengini beyaz yap */
    filter: brightness(1.2);
    /* Parlaklık seviyesini artır */
}




.field-wrap {
    padding-top: 50px;
}

.mktoRadioList,
.info-text {
    padding-bottom: 30px;
    font-family: "Poppins", sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.714;
    color: #949494;
    letter-spacing: 0;
}

.info-text a {
    font-family: "Poppins", sans-serif;
    color: #02a783;
    transition: color .2s ease-in-out;
}

.mktoRadioList input[type=radio] {
    appearance: none;
    /* Tarayıcı varsayılan stilini devre dışı bırak */
    width: 13px;
    /* Buton boyutunu ayarlayın */
    height: 13px;
    /* Buton boyutunu ayarlayın */
    border-radius: 50%;
    /* Yuvarlak buton */
    border: 1px solid #f3f3f3;
    /* Çerçeve rengi */
    position: relative;
    /* ::before için gerekli */
    background-color: #000000;
    /* Arka plan rengi */
}

.mktoRadioList input[type=radio]:checked {
    background-color: #02a783;
    /* Seçili olduğunda yeşil renk */
}

.mktoRadioList input[type=radio]:before {
    content: "";
    /* İçerik belirle */
    position: absolute;
    top: calc(50% - 4px);
    /* Ortalamak için */
    left: calc(50% - 4px);
    /* Ortalamak için */
    width: 8px;
    /* İç daire genişliği */
    height: 8px;
    /* İç daire yüksekliği */
    background-color: #000000;
    /* İç daire rengi */
    border-radius: 50%;
    /* İç daireyi yuvarlak yap */
    transition: background-color 0.3s ease;
    /* Geçiş efekti */
}

/* Seçili olduğunda iç daireyi yeşil yap */
.mktoRadioList input[type=radio]:checked:before {
    background-color: #02a783;
    /* İç daireyi yeşil yap */
}


.formwrapppermain {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 750px;
    height: 100vh;
    background-color: #27272c;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto; /* Form içeriğine scroll ekler */
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    z-index: 9999;
    padding: 50px 30px;
    box-sizing: border-box;
}

/* Aktif olduğunda ekrana girer */
.formwrapppermain.active {
    transform: translateX(0);
    opacity: 1;
}

/* Scrollbar stilini güzelleştirme (isteğe bağlı) */
.formwrapppermain::-webkit-scrollbar {
    width: 8px;
}

.formwrapppermain::-webkit-scrollbar-track {
    background: transparent;
}

.formwrapppermain::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

/* Mobil cihazlar için optimizasyon */
@media (max-width: 768px) {
    .formwrapppermain {
        width: 100%;
        max-width: 100%;
        padding: 40px 15px;
    }
}

    .formwrapppermain.active {
        transform: translateX(0); /* Ekrana tamamen girer (orijinal konumu) */
        opacity: 1; /* Görünür yap */
    }
    
    /* Başlangıç durumu (aktif değilken) */
    .formwrapppermain {
        transform: translateX(100%); /* Sağdan ekran dışına taşır */
        opacity: 0; /* Görünmez yap */
        transition: transform 0.3s ease, opacity 0.3s ease; /* Animasyon ekle */
    }
    

.form-wrapper-title::before {
    content: "";
    /* İçeriği tanımla */
    width: 20px;
    /* Genişlik ver */
    height: 3px;
    /* Yükseklik ver */
    background-color: #02a783;
    /* Renk ver */
    display: block;
    /* Görünür hale getirmek için */
    margin-bottom: 10px;
    /* Başlık ile mesafe bırak */
}

.form-wrapper-title {
    text-align: left;
    font-size: 40px;
    color: #fff;
    /* Başlık rengi beyaz */
    margin-bottom: 10px;
    padding-bottom: 50px;
}

/*  get a quota  */
/* === QUOTE FORM STYLE === */

.quote-form-wrapper-main {
    display: none;
    position: fixed;
    top: 0;
    right: -100%;
    max-width: 800px;
    background-color: #1f1f23;
    overflow-y: auto;
    transition: right 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    z-index: 1200;
}

.quote-form-wrapper-main.active {
    right: 0;
    opacity: 1;
}

.quote-dark-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1100;
}

.quote-form-wrapper {
    
    background-color: transparent;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .quote-form-wrapper-main {
        max-width: 100%;
        top: 0;
        
    }


}

.quote-form-title {
    text-align: left;
    font-size: 36px;
    color: #fff;
    margin-bottom: 10px;
    padding-bottom: 40px;
    position: relative;
}

.quote-form-title::before {
    content: "";
    width: 20px;
    height: 3px;
    background-color: #02a783;
    display: block;
    margin-bottom: 10px;
}

.quote-form {
    
    padding: 0;
    width: 100%;
    margin-top: 24px;
    overflow-y: auto;
    max-height: 80vh;
    scrollbar-width: thin;
}

.quote-form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.quote-form-column {
    min-width: 320px;
}

.quote-label {
    display: block;
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 5px;
    padding-left: 10px;
}

.quote-input,
.quote-textarea {
    width: 100%;
    padding: 12px;
    color: #fff;
    background-color: #27272c;
    border-bottom: 1px solid #444;
}

.quote-input::placeholder,
.quote-textarea::placeholder {
    color: #c8c8c8;
}

.quote-textarea {
    resize: none;
}

.quote-submit-button {
    background-color: #02a783;
    border: none;
    border-radius: 22.5px;
    padding: 14px 30px;
    font-family: "Poppins", sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.3s ease;
}

.quote-submit-button:hover {
    background: linear-gradient(135deg, #02a783, #007a5f);
}

.quote-close-form {
    
    position: absolute;
    top: 20px; /* Üstten daha uygun mesafe */
    right: 20px; /* Sağdan daha uygun mesafe */
    background-color: transparent;
    border: none;
    font-size: 24px; /* Daha belirgin ikon/buton */
    cursor: pointer;
    color: white;
    z-index: 1000; /* Form içindeki en üst öğe olması için */
    padding: 5px; /* Kolay tıklama alanı */
}

/* Mobil ekranlar için ayar */
@media (max-width: 768px) {
    .quote-close-form {
        top: 15px;
        right: 15px;
        font-size: 22px;
    }
}

.quote-close-form:hover {
    color: #f9f9f9;
    filter: brightness(1.2);
}

.quote-cta-fixed {
    
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 3;
    writing-mode: vertical-rl; /* Metni dikey yaz */
    text-orientation: mixed;
    background-color: #2d2d2d;
    color: white;
    border-radius: 10px 0 0 10px;
    padding: 10px 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


.custom-product-expert-cta-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
    background-color: #2d2d2d;
    color: white;
    border-radius: 10px 0 0 10px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    
    /* Döndürme işlemi */
    transform: rotate(0deg);
    transform-origin: bottom right;
}



.cta-btn__text {
    translate: no !important;
}

.custom-product-expert-cta-fixed:hover {
    background-color: #0b0b0b;
    color: white;
}

.cta-btn--secondary {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Responsive */
        





.contact-container {
    background-color: #ffffff;
    width: 90%;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    animation: fadeInUp 1s ease-out;
}

.contact-heading {
    font-size: 28px;
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}

.contact-subheading {
    text-align: center;
    color: #666;
    font-size: 16px;
    margin-bottom: 30px;
}

.contact-fields {
    width: 100%;
}

.input-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.input-block {
    
    flex: 1;
    min-width: 250px;
}

.field-label {
    display: block;
    color: #333;
    font-size: 14px;
    margin-bottom: 5px;
}

.field-input,
.field-textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    transition: border-color 0.3s, transform 0.3s;
}

.field-input:focus,
.field-textarea:focus {
    border-color: #6f6df4;
    outline: none;
    transform: scale(1.02);
}

.field-textarea {
    resize: none;
}

.form-submit-btn {
    display: block;
    width: 100px;
    padding: 12px;
    background: linear-gradient(135deg, #000000, #18181e);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

.form-submit-btn:hover {
    background: linear-gradient(135deg, #000000, #2e2d3a);
    transform: scale(1.05);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 768px) {
    .contact-container {
        padding: 30px;
    }
    .contact-heading {
        font-size: 24px;
    }
    .contact-subheading {
        font-size: 14px;
    }
    .input-row {
        flex-direction: column;
    }
}

@media (max-width: 540px) {
    .contact-container {
        padding: 20px;
    }
    .contact-heading {
        font-size: 20px;
    }
    .contact-subheading {
        font-size: 12px;
    }
    .input-row {
        flex-direction: column;
        gap: 15px;
    }
    .input-block {
        min-width: 100%;
    }
    .field-label {
        font-size: 12px;
    }
    .field-input,
    .field-textarea {
        padding: 10px;
    }
    .form-submit-btn {
        padding: 10px;
        font-size: 14px;
    }
}
