* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container12 {
    border: 1px solid black;
    display: flex;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logos-container12 {
    flex: 1;

    overflow-y: auto;
    padding: 15px;
}

.logos12 {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 15px;
}

.logo12 {
    border: 0.1px solid rgb(218, 218, 218);
    flex: 0 1 calc(25% - 15px);
    max-width: 120px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s all;
}

.logo12 img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.logo12:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.details12 {
    flex: 2;



    background-color: #fff;
    overflow: hidden;

}

#logo-name12 {
    margin-left: 2.5%;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;

}

.details-content12 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.details-header12 {
    
    flex: 1;
    max-width: 100%;
    padding: 15px;
    text-align: left;
    min-height: 180px; /* Yüksekliği ihtiyaca göre ayarlayabilirsin */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


.details-header12 p {
    font-size: 14px;
    color: #666;

    line-height: 1.5;
}

#logo-image12 {
    width: 450px;
    height: 450px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }
  

#logo-description12 {
    font-size: .85rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #555;
    margin-top: 10px;
}

.Logosmain {
    display: flex;
    justify-content: center;
}

.styles_page-heading__H3Kxb {
    padding-bottom: 20px;
}/* Mobil ve Tablet Uyumlu Tasarım */



@media (max-width: 768px) {
    #logo-image12 {
        width: 100%;
        max-width: 250px;
        height: 200px;
        object-fit: contain;
        display: block;
        margin: 0 auto;
      }
      

    .details12{
        padding: 0px !important;
    }
  }
  

  .description-trimmed {
    max-height: 11em; /* 3 satır * 1.5 line-height */
    overflow: hidden;
    transition:  0.6s ease;
  }
  .description-expanded {
    
    max-height: 1000px; /* Açıldığında yüksek limitle */
  }
  