.headersectionimage1 {
    background-image: url(https://www.bakerhughes.com/sites/bakerhughes/files/styles/large_2_1_2x_2880x1426_/public/2023-03/hero-about-us.webp?h=ea95bb15&itok=D5lzgn-3);

}

.headersectionimage2 {
    background-image: url(https://images.pexels.com/photos/19768241/pexels-photo-19768241/free-photo-of-pier-and-platform-on-sea-at-harbor.jpeg);

}

.headersectionimage3 {
    background-image: url(https://images.pexels.com/photos/15970032/pexels-photo-15970032/free-photo-of-oil-refinery-plant.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);

}

.headersectionimage4 {
    background-image: url(https://www.bakerhughes.com/sites/bakerhughes/files/styles/large_2_1_2x_2880x1426_/public/2023-04/shutterstock_507418333.webp?h=72497d40&itok=AB168jC-);
}

.headersectionimage5 {
    background-image: url(https://www.axcend.com/wp-content/uploads/2024/06/Group-66.png);
}
.headersectionimage6 {
background-image: url(
    https://static1.unitedsafety.net/wp-content/uploads/2019/12/Downstream_Emergenc_Response_Techniciane.jpg
);
}


.about-section-up {
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 430px;
    background-size: cover;
    /* Kaliteyi koruyarak alanı kaplar */
    background-repeat: no-repeat;
    background-position: top center;
    /* Resmin tam ortasını gösterir */
    position: relative;
    width: 100%;
    padding: 0 20px;
    animation: fadeIn 1s ease-in-out;
}


/* Siyah efekt ekleyerek daha koyu göstermek için */
.about-section-up::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 29, 32, 0.8);
    /* Slightly less dark for better readability */
    transition: background 0.3s ease;
    /* Smooth transition for color change */
}

/* Hover effect to darken the overlay */


/* İçerik yazısı için stil */
.about-section-up h1 {
    font-size: 3.45rem;
    font-weight: 600;
    line-height: 1.16;
    letter-spacing: 0;
    color: #fff;

    font-family: "Kumbh Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease;
    /* Smooth scaling */
}

/* Tablet görünümü için (768px - 1024px arası) */
@media (max-width: 1024px) {
    .about-section-up {
        min-height: 500px;
        /* Tabletlerde yükseklik biraz küçültüldü */
        justify-content: center;
        /* Yazıyı ortaladık */
        text-align: center;
    }

    .about-section-up h1 {
        font-size: 2.2rem;
        /* Tabletlerde font biraz küçültüldü */
        padding-left: 0;
        /* Tabletlerde sola yaslama kaldırıldı */
        transform: scale(1);
        /* Reset scale effect for tablet */
    }
    .bh-breadcrumb__list{
        display: none !important;
    }
    .about_description_up p{
        line-height:1.6 !important; /* Satır aralığını artırdık */

    }
    .about_description_up {
        padding-left: 20px;
        width: 100% !important;
    }
    
    .about-header{
        padding: 0 !important;
    }
}

.about-section-up {
    position: relative;
}

.mouse {
    width: 40px;
    height: 90px;
    border: 3px solid #616161;
    border-radius: 60px;
    position: absolute;
    top: 80%; /* En aşağıya yerleştirir */
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.mouse::before {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
}

@keyframes wheel {
    0% { opacity: 1; transform: translateX(-50%) translateY(0); }
    50% { opacity: 0.5; transform: translateX(-50%) translateY(15px); }
    100% { opacity: 0; transform: translateX(-50%) translateY(30px); }
}





/* Mobil uyumluluk için (Ekran genişliği 768px ve daha küçükse) */
@media (max-width: 768px) {
    .bh-breadcrumb__list{
        display: none !important;
    }

    .about-section-up {
        min-height: 400px;
        justify-content: left;
        align-items: center;
        text-align: left;
    }


    .about-section-up h1 {
        font-size: 1.8rem;
        padding-left: 20px;
        transform: scale(1);
        /* Reset scale effect for mobile */
    }

}

/* Animation Keyframes */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.page_description {
    min-width: 18.75rem;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;

    color: white !important;
}

.about-header {
    padding-left: 150px;
    padding-top: 130px;
}

.about-header p {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625;
    padding-top: 15px;
    font-size: 16px;
    position: relative;
    font-weight: 300;
    line-height: 1.296875;
    color: rgba(255, 255, 255, .8);
    margin-block: 0;
}

.about_description_up {
    width: 45rem;
}

.bh-breadcrumb__list li:first-child a:hover {
    opacity: 1;
    color: white;
}

.bh-breadcrumb__list li:first-child a {
    color: #fff;
    text-decoration: none;
    text-transform: none;
    opacity: 0.7;
    overflow: hidden;
    padding-right: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 21ch;
}

.bh-breadcrumb__item i {
    font-size: 0.6rem;
    line-height: 1.5rem;
    opacity: 0.7;
    color: #fff;
}

.bh-breadcrumb__item-text {
    padding-left: 10px;
    font-size: 0.85rem;
    line-height: 1.5rem;
    color: #fff;
    text-transform: none;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 21ch;
}

.bh-breadcrumb__list li {
    text-decoration: none;
    color: wheat;
}

.bh-breadcrumb__list {
    left: 10%;
    font-size: 15px;
    top: 30%;
    align-items: center;
    list-style-type: none;
    position: absolute;
    display: flex;
}